PORT=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_DATABASE=
DB_PORT=

# Konfigurasi Keamanan JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Konfigurasi MinIO Storage
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

# Konfigurasi 
GEMINI_API_KEY=
